.right-content-wrap {
    /*padding:20px 0 0 20px;*/
    padding-left: 20px;
    height: 100%;
    font: 14px/100% "microsoft yahei";
}
.right-content-head {
    margin: 20px 0;
}
.right-content-head1 {
    font-size: 32px;
    line-height: 40px;
    color: #666;
}
.right-content-head2 {
    padding-left: 10px;
    background-color: #eee;
    font-size: 14px;
    line-height: 35px;
}
.right-content-head3 {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}
.right-content-search-input {
    flex-grow: 1;
    margin: 10px 20px 0 0;
    float: left;
    width: 200px !important;
    height: 30px;
    line-height: 30px;
    text-indent: 1em;
}
// .right-content-search-input:first-child {
//     margin-left: 0;
// }
.right-table-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    // border: 1px solid #e02222;
    border-top: 35px solid #e02222;
}
.right-table-header {
    position: absolute;
    top:-35px;
    /*background-color: #e02222;*/
    width: 100%;
    height: 35px;
    color: #fff;
    line-height: 35px;
    padding-left: 15px;
}
.right-content-table {
    width: 100%;
    border: none;
    /*border: 1px solid #e02222;*/
}
// .right-content-table tr {
//     border-bottom: 1px solid #ccc;
// }
td,th {
    text-align: center;
    padding: 0.5em;
}
th{
    word-break: keep-all;
}
td{
    position: relative;
    white-space: nowrap;
    a {
        padding: 10px;
    }
    img{
        max-width: 10em;
    }
    input[type=datetime-local]{
        width: 14em;
    }
    input[type=file]{
        width: 5.5em;
        height: 30px;
    }
    input[type=submit],input[type=reset] {
        border: none;
    }
    textarea{
        box-shadow: 3px 3px 1em #666;
        min-height: 4em;
    }
    textarea:hover{
        // transform: scale(1.2);
        transition: .3s;
        z-index: 9999;
    }
    input[type=text],textarea{
        width: 100%;
        padding: 5px;
        position: relative;
    } 
    .checkbox-wrap{
        float: left;
        margin: 1em;
    }
    .checkbox-wrap *{
        vertical-align: middle;
    }
    .radio-wrap {
        white-space: nowrap;
        min-width: 5em;
        margin: 1em;
    }
    input[type=checkbox],input[type=radio]{
        transform: scale(1.3);
        cursor: pointer;
    }
    span,label{
        word-break:keep-all;
        padding: .5em;
    }
}
// .table-textarea-wrap{
//     position:relative;
//     width:100%;
//     height:auto;
//     min-width: 10em;
//     max-width: 20em;
//     min-height: 2em;
//     word-break: break-all;
//     textarea{
//         position:absolute;
//         top:0;
//         left:0;
//         width:100%;
//         height:calc(~"100% + 1em");
//         min-height: 2em;
//         max-width: 20em;
//     }
// }
/*
 * .right-content-table td {
 *     min-width: 9em;
 * }
 */
.btn-action-contain {
    display: inline-block;
    _display: inline;
    zoom:1;
}
.right-content-td-img {
    max-width: 100%;
}
.tr-empty{
    display:none;
}
div.fl-split{
    float: left;
    width: 100%;
}
// .ui-autocomplete{
//     background-color: #aaa;
// }
// .ui-state-hover {
//     background: #428BCA!important;
// }
