.content-instrument-list {
    width:100%;
    color: #fff;
}
.content-instrument-item {
    padding: 0 10px;
    float: left;
    position: relative;
    width: 23%;
    height: 150px;
    margin-right: 2%;
}
.content-item-num {
    height:50%;
    font-size: 40px;
    line-height: 75px;
    text-align: right;
}
.content-item-label {
    height:30%;
    line-height: 45px;
    text-align: right;
}
.content-item-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    line-height: 30px;
}
.content-instrument-item.blue {
    background-color: #4d90fe;
}
.content-instrument-item.blue:hover {
    background-color: #0362fd;
}
.content-instrument-item.green {
    background-color: #35aa47;
}
.content-instrument-item.green:hover {
    background-color: #1d943b;
}
.content-instrument-item.orange {
    background-color: #ffb848;
}
.content-instrument-item.orange:hover {
    background-color: orange;
}
.content-instrument-item.purple {
    background-color: #A00B9A;
}
.content-instrument-item.purple:hover {
    background-color: purple;
}
.notice-wrap{
    position: relative;
    margin-top: 30px;
    width: 60%;
}
.tab-list {
    position: relative;
    z-index: 2;
    margin-bottom: -1px;
}
.action-btn-add{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transition: .3s;
}
.action-btn-add:hover{
    transform: scale(1.3);
}
.tab-item.cur {
    border: 1px solid #bbb;
    border-top-color: #e02222;
    border-bottom-color: #fff;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.tab-content-list{
}
.tab-content-item:last-child {
    margin:0;
}
.tab-content-item {
    position: relative;
    padding-left:30px;
    min-height: 80px;
    // background: url(/static/manage/page/index/notice-logo.png) no-repeat #eee;
    border: 1px solid #bbb;
    padding: 10px;
    background-origin: content-box;
    line-height: 30px;
    background-clip: content-box;
    margin-bottom: 10px;
    cursor:pointer;
    *{
        float: left;
    }
    label,p{
        width: 50%;
    }
    .notice_time{
        width: auto;
        float:right;
        text-align: right;
    }
    .notice_title{
        font:bold 16px/30px "microsoft yahei";
    }
    .notice_body{
        font:14px/30px "microsoft yahei";
    }
    .notice_img{
        min-height: 60px;
        max-height: 120px;
        margin: 0 10px;
    }
    .notice_img:after{
        content:" ";
        width:1px;
        height: 0;
    }
    // p {
        //     float: right;
    // }
}
.notice-form {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    border: 1px solid #333;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    .img-wrap {
        border: 1px solid;
        width: 50%;    
        position: relative;
    }
    .img-wrap .img-input{
        position: absolute;
        top:0;
        left:0;
        margin:0;
        opacity: 0;
        width: 100% !important;
        height: 100% !important;
    }
    .notice-list{
        padding: 15px;
        position:absolute;
        top: 50%;
        left: 50%;
        min-width: 30%;
        transform: translate(-50%,-50%);
        background-color: #fff;
    }

    .notice-item{
        margin-bottom: 15px;
        text-align: center;
        input,textarea{
            width: 50%;
            border: 1px solid;
        }
        textarea{
            line-height: 1.5em;
            min-height: 4.5em;
        }
        *{
            float: left;
            margin-right: 1em;
            line-height: 30px;
        }
    }
}

