hr {
    width: 100%;
}
.left-nav-upload {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100% !important;
}
button.left-nav-upload-btn {
    width: 100%;
    height: 100%;
    margin: 0;
    box-shadow: none;
    cursor: pointer;
    background-color: transparent;
}
.left-nav-upload-ta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
}
input.left-nav-search {
    width: 100%;
    height:45px;
    color: #000;
    text-align: center;
    text-indent: 1em;
    border-bottom: 1px solid #666;
    font: 14px/45px "microsoft yahei";
}
.left-nav-list {
    width: 100%;
    padding-top:20px;
    /*background-color: #333;*/
}
.left-nav-item {
    position: relative;
    float: left;
    width: 100%;
    height:45px;
    font: 14px/45px "microsoft yahei";
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #666;
}
span.left-nav-item  {
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-bottom: 3px solid #ccc;
}
.left-nav-item.cur {
    background-color: #e02222;
}
div.magzine_review {
    border-color:#0362fd !important;
}
div.magzine_manage {
    border-color:#1d943b !important;
}
div.type_manage {
    border-color:#4b8df8 !important;
    
}
div.user_manage {
    border-color:purple !important;
}
div.ad_manage {
    border-color:orange !important;
}
div.notice_manage {
    
}
div.password_update {
    
}
