.action-btn {
    cursor: pointer;
    float: left;
    /* margin: 5px;  */
    margin: 10px 20px 0 0;
    color: #fff;
    /* background-color: #4d90fe; */
    /* width: 70px; */
    height: 30px;
    padding:0 1em;
    line-height: 30px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px gray;
}
.action-btn-select {
    color: #333;
}
/*
 * .action-btn:hover {
 *     background-color: #0362fd;
 * }
 */
.action-modify-input {
    width: 50%;
    height: 30px;
    min-width: 80px;
}
.blue {
    background-color: #4d90fe;
}
.blue:hover {
    background-color: #0362fd;
}
.red {
    background-color: #d84a38; 
}
.red:hover {
    background-color: #bb2413; 
}
.green {
    background-color: #35aa47;
}
.green:hover {
    background-color: #1d943b;
}
.orange {
    background-color: #ffb848;
}
.orange:hover {
    background-color: orange;
}
.purple {
    background-color: #A00B9A;
}
.purple:hover {
    background-color: purple;
}
.gray {
    background-color: #666;
}
.gray:hover {
    background-color: #333;
}
.img-input {
    position: absolute;
    top: 50%;
    left: 50%;
    /* opacity: 0; */
    width: 100%;
    /* height: 100% !important; */
    margin-top: -1em;
    margin-left: -2em;
    overflow: hidden;
    /* color: transparent; */
    width: 0em;
}
.input-img {
    width: 100%;
    margin: 0 auto;
    min-width: 6em;
}
