.btn-close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin:-10px -10px 0 0;
    padding: 0;
    font: bold 20px/20px "microsoft yahei";
    border-radius: 100%;
    border: 1px solid #333;
    color: red;
    text-align: center;
    z-index: 999;
    background: white;
    transition: .3s;
}
.btn-close:hover{
    background: white;
    transform: scale(1.5);
}
